/* Reset some default browser styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a background color and text color */
body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Center items vertically */
  padding: 20px;
  background-color: #0077b6;
  color: #fff;
  justify-content: center;
}

header img {
  max-width: 100px;
  border-radius: 50%;
  margin-right: 50px; /* Add margin to separate the image from h1 */
}

header h1 {
  font-size: 36px;
  margin: 40px; /* Reset margin to remove default spacing */
}

/* Navigation styles */
nav ul {
  list-style: none;
  text-align: center;
  background-color: #333;
  padding: 10px 0;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

/* Section styles */
section {
  padding: 40px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
*::before,
*::after {
box-sizing: border-box;
}

html {
background-color: #ecf9ff;
}

body {
color: #272727;
font-family: 'Quicksand', serif;
font-style: normal;
font-weight: 400;
letter-spacing: 0;
padding: 1rem;
}

.main{
max-width: 1200px;
margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
height: auto;
max-width: 100%;
vertical-align: middle;
}

.btn {
color: #ffffff;
padding: 0.8rem;
font-size: 14px;
text-transform: uppercase;
border-radius: 4px;
font-weight: 400;
display: block;
width: 100%;
cursor: pointer;
border: 1px solid rgba(255, 255, 255, 0.2);
background: transparent;
}

.btn:hover {
background-color: rgba(255, 255, 255, 0.12);
}

.cards {
display: flex;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
}

.cards_item {
display: flex;
padding: 1rem;
}

@media (min-width: 40rem) {
.cards_item {
  width: 50%;
}
}

@media (min-width: 56rem) {
.cards_item {
  width: 33.3333%;
}
}

.card {
background-color: white;
border-radius: 0.25rem;
box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
overflow: hidden;
}

.card_content {
padding: 1rem;
background: linear-gradient(to bottom left, #002153 40%, #9ec0ff 100%);
}

.card_title {
color: #ffffff;
font-size: 1.1rem;
font-weight: 700;
letter-spacing: 1px;
text-transform: capitalize;
margin: 0px;
}

.card_text {
color: #ffffff;
font-size: 0.875rem;
line-height: 1.5;
margin-bottom: 1.25rem;    
font-weight: 400;
}
.made_by{
font-weight: 400;
font-size: 13px;
margin-top: 35px;
text-align: center;
}

@media (max-width: 768px) {
  header h1 {
      font-size: 28px;
  }

  nav li {
      margin: 0 10px;
  }

  section {
      padding: 20px;
  }
}
